<h1>Edit Listing</h1>
<%= form_with model: @listing do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :location %>
    <%= form.text_field :location %>
    <%= form.submit %>
<% end %>

<%= link_to "Delete Listing", delete_listing_path(@listing[:id]),method: :delete, data: {confirm: "Are you sure?"}%>

