<div class="page_sec">
    <div class="card mb-3" style="max-width: 800px; width: 60vw">
        <div class="row no-gutters">
            <div class="col-md-3">
            <%= image_tag @listing.picture, :class => "listing_img" if @listing.picture.attached? %>
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= @listing[:name] %></h5>
                <%= form_with model: @listing do |form| %>
                    <div>
                    <%= form.label :name %>
                    <%= form.text_field :name %>
                    </div>
                    <div>
                    <%= form.label :location %>
                    <%= form.text_field :location %>
                    </div>
                    <%= form.submit %>
                <% end %>
            </div>
            </div>
        </div>
    </div>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci quae porro temporibus qui minima quidem doloremque maxime, tenetur quasi. Et alias eaque maiores autem molestias obcaecati dolor minus, quas repellat.
    Maxime similique, accusamus aliquid necessitatibus totam est praesentium quam vel corporis magnam libero ducimus amet architecto numquam laborum molestiae veritatis, non, iste officia error magni. Nulla nihil atque exercitationem labore!
    Reiciendis, velit unde ducimus, reprehenderit blanditiis saepe similique dolorum vel ipsam quisquam facilis aperiam libero nesciunt, sed laboriosam? Natus doloremque inventore officia consectetur totam repudiandae explicabo, excepturi reprehenderit sed! Rem.
    Totam porro unde deleniti. Natus asperiores pariatur, molestiae neque vel sequi! Ad ea enim ratione nam labore soluta hic quibusdam, pariatur ab, expedita placeat. Accusamus, autem? Culpa a sit reprehenderit.
    Incidunt tempore minima fugiat non provident doloribus laborum, laboriosam vitae sunt quae assumenda atque, earum quos fuga ipsum vel sequi corrupti. Exercitationem consequuntur deserunt deleniti sed placeat nisi sit iusto?</p>


    <%= link_to "Delete Listing", delete_listing_path(@listing[:id]),method: :delete, data: {confirm: "Are you sure?"}%>
</div>