<h1>Index</h1>
<div class="main_sec">
<div>
<% @listings.each{ |list| %>

    <div class="card mb-3" style="max-width: 800px; width: 60vw">
    <div class="row no-gutters">
        <div class="col-md-3">
        <%= image_tag list.picture if list.picture.attached? %>
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title"><%= list[:name] %></h5>
            <p><%= list[:location] %></p>
            <%= link_to "View", "/listings/#{list[:id]}" %>
        </div>
        </div>
    </div>
    </div>
<%}%>
</div>


<li><% if can? :create, Listing %><%= link_to "New Listing", new_listing_path %><% end %></li>
</div>