<h1>Show Listing</h1>
<h2><%= @listing[:name]%></h2>
<p>Address: <%= @listing[:location]%></p>
<p>Id: <%= @listing[:id]%></p>

<ul>

<% @rooms.each { |r| %>
    <li><%= link_to r[:name], "/listings/#{params[:id]}/#{r[:id]}"%></li>
<% } %>
</ul>

<%= link_to "Edit Listing", "/listings/#{params[:id]}/edit"%>