<h1>Show Listing</h1>
<h2><%= @listing[:name]%></h2>
<p>Address: <%= @listing[:location]%></p>
<p>Id: <%= @listing[:id]%></p>

<ul>

<% @rooms.each { |r| %>
    <li><%= link_to r[:name], room_path(r.id)%> <%= link_to @booking_text, payment_path(r.id,@search["date_from"],@search["date_to"]) %> </li>
<% } %>
    <li><% if can? :create, @listing %><%= link_to "New Room", new_room_path(params[:id]) %><% end %></li>
</ul>

<% if can? :update, @listing%><%= link_to "Edit Listing", edit_listing_path(params[:id]) %><% end %>