<h1>Show Listing</h1>
<h2><%= @listing[:name]%></h2>
<p>Address: <%= @listing[:location]%></p>
<p>Id: <%= @listing[:id]%></p>

<ul>
<% @room_names.each { |r| %>
    <li><%= link_to r, "/listings/#{params[:id]}/#{r}"%></li>
<% } %>
</ul>

<%= link_to "Edit Listing", "/listings/#{params[:id]}/edit"%>