<%= form_with(model: @profile, local: true) do |form| %>
    <%= form.label :fname, value: "First Name" %>
    <%= form.text_field :fname%>
    <%= form.label :lname, value: "Surname"%>
    <%= form.text_field :lname%>
    <%= form.label :phone %>
    <%= form.text_field :phone%>

    <%= form.fields_for :payment do |pay_form|%>
        <h3>Payment Details</h3>
        <%= pay_form.label :card_no %>
        <%= pay_form.text_field :card_no %>
        <%= pay_form.label :card_name %>
        <%= pay_form.text_field :card_name %>
        <%= pay_form.label :CSV %>
        <%= pay_form.text_field :CSV %>
        <%= pay_form.label :expiry %>
        <%= pay_form.text_field :expiry %>
    <% end %>

    <%= form.fields_for :address do |add_form|%>
    <h3>Address Details</h3>
        <%= add_form.label :street_no %>
        <%= add_form.text_field :street_no %>
        <%= add_form.label :street_name %>
        <%= add_form.text_field :street_name %>
        <%= add_form.label :suburb %>
        <%= add_form.text_field :suburb %>
        <%= add_form.label :state %>
        <%= add_form.text_field :state %>
        <%= add_form.label :postcode %>
        <%= add_form.text_field :postcode %>
    <% end %>

    <%= form.submit %>
<% end %>