<h1>Home Page</h1>
<ul>
    <li><%= link_to "Profile", profiles_path %></li>
    <li><%= link_to "Listing", listings_path %></li>
    <li><%= link_to "Bookings", bookings_path %></li>
    <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
    <% end %>
</ul>
<form action = "<%=search_path%>" method = "GET">
    <div>
        <label>Location: </label>
        <input type="text">
    </div>
    <div>
        <label>People: </label>
        <input type="number" step="1" min="1" max="4">
    </div>
    <div>
        <label>From: </label>
        <input type="date">
    </div>
    <div>
        <label>To: </label>
        <input type="date">
    </div>
    <input type="submit" value="Search">
</form>