<h1>Show Room</h1>

<p>Room: <%= @room[:name]%></p>
<p>$<%= @room[:price]%></p>
<p>No. people: <%= @room[:no_people]%></p>

<ul>
<% @bookings.each{ |b| %>
    <li> Date: <%= b[:date] %> Vacant: <%= b[:aval] %></li>
<% } %>
</ul>