
<h3>Room: <%= @room[:name]%></h3>
<p>Id: <%= @room[:id]%></p>
<p>$<%= @room[:price]%> - No. people: <%= @room[:no_people]%></p>
<%= link_to "Edit Room", edit_room_path(@room[:id])%>

<%= month_calendar events: @bookings do |date, bookings| %>
    <%= date.day %>
    <% bookings.each do |b| %>
        <% if b[:aval] %>
            <p>Vacant</p>
        <% else %>
            <p>No Vacancy</p>
        <% end %>
    <% end %>
<% end %>
